[submodule "third_party/cpp-sdk"]
	path = third_party/cpp-sdk
	url = https://github.com/extism/cpp-sdk
[submodule "third_party/extism-pdk"]
	path = third_party/extism-pdk
	url = https://github.com/extism/c-pdk
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio
